{{ define "betheone"}}
Oh, but when you're gone, when you're gone, when you're gone
Oh baby, all the lights go out
Thinking now that maybe I was wrong, I was wrong, I was wrong
Come back to me, baby, we can work this out
Oh baby, come on, let me get to know you
Just another chance so that I can show
That I won't let you down and run
No, I won't let you down and run
'Cause I could {{.}}
{{end}}