<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Modular templates</title>
    </head>
    <body>
        <h1>My favorite part of Dua lipa's - {{.}}</h1>
        <p>{{template "betheone" .}}</p>
    </body>
</html>