<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Functions in templates</title>
    </head>
    <body>
        Without date formatting: {{.}}
        With date formatting: {{  . | fdateMDY}}
    </body>
</html>